name: release-please
on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
      # Docker Image release
      - name: Checkout
        uses: actions/checkout@v6
        if: ${{ steps.release.outputs.release_created }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        if: ${{ steps.release.outputs.release_created }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        if: ${{ steps.release.outputs.release_created }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: ${{ steps.release.outputs.release_created }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        if: ${{ steps.release.outputs.release_created }}
        with:
          images: timmi6790/cloudflare-access-webhook-redirect
          tags: |
            type=raw,value=${{ steps.release.outputs.tag_name }}
            type=raw,value=latest

      - name: Sentry Release
        uses: getsentry/action-release@v3.4.0
        if: ${{ steps.release.outputs.release_created }}
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
          SENTRY_PROJECT: ${{ secrets.SENTRY_PROJECT }}
        with:
          version: ${{ steps.release.outputs.tag_name }}
          environment: production

      - uses: Swatinem/rust-cache@v2
        if: ${{ steps.release.outputs.release_created }}

      - name: Build and push
        uses: docker/build-push-action@v6
        if: ${{ steps.release.outputs.release_created }}
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            version=${{ steps.release.outputs.tag_name }}
            release=${{ steps.release.outputs.tag_name }}
            vendor=Timmi6790
            SENTRY_ORG=${{ secrets.SENTRY_ORG }}
            SENTRY_PROJECT=${{ secrets.SENTRY_PROJECT }}
            VERSION=${{ steps.release.outputs.tag_name }}
          secrets: |
            sentry_token=${{ secrets.SENTRY_AUTH_TOKEN }}